<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carro</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class=" night">
        <div style="text-align: center;">
            <img src="../img/caja_de_cambios/automatico/n.png" id="caja_de_cambios"
                style="width: 10%; z-index: 2; position: absolute; top: 10%;">
            <p style=" z-index: 2; position: absolute; top: 10%; right: 10%;" id="destiny"></p>
        </div>
        <div>
            <img src="../img/tablero.png" style="width: 50%; z-index: 2; position: absolute;">
            <img src="../img/cuadrado.png" id="turnLeftLight" class="turnLeftLight ">
            <img src="../img/cuadrado.png" id="turnRightLight" class="turnRightLight">
            <img src="../img/cuadrado.png" id="handBrake" class="handBrake LightsAnimation">
        </div>
        <div class="cityWallpaper" id="wallpaper"></div>
        <div class="surface" id="surface"></div>
        <div class="car" id="car">
            <img src="../img/Car 1.png" id="carImg" alt="">
        </div>
    </div>
    <script type="module" src="../js/controls.js"></script>
    <script type="module" src="../js/car.js"></script>
    <script type="module" src="../js/functions.js"></script>

</body>
</body>

</html>